{% extends 'index.html' %}

{% block content %}
    <h1>Ganancias</h1>

    <h2>Ganancias por Producto</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Ganancia</th>
            </tr>
        </thead>
        <tbody>
            {% for producto, ganancia in ganancias_por_producto.items() %}
                <tr>
                    <td>{{ producto }}</td>
                    <td>{{ ganancia }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Ganancias Diarias</h2>
    <form method="GET" action="{{ url_for('ganancias') }}">
        <div class="form-group">
            <label for="fecha">Seleccione una fecha:</label>
            <input type="date" class="form-control" id="fecha" name="fecha">
        </div>
        <button type="submit" class="btn btn-primary">Mostrar Ganancias del Día</button>
    </form>

    {% if ganancias_diarias %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Ganancia</th>
                </tr>
            </thead>
            <tbody>
                {% for fecha, ganancia in ganancias_diarias.items() %}
                    <tr>
                        <td>{{ fecha }}</td>
                        <td>{{ ganancia }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h2>Ganancias Semanales</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Semana</th>
                <th>Ganancia</th>
            </tr>
        </thead>
        <tbody>
            {% for semana, ganancia in ganancias_semanales.items() %}
                <tr>
                    <td>{{ semana }}</td>
                    <td>{{ ganancia }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Ganancias Mensuales</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mes</th>
                <th>Ganancia</th>
            </tr>
        </thead>
        <tbody>
            {% for mes, ganancia in ganancias_mensuales.items() %}
                <tr>
                    <td>{{ mes }}</td>
                    <td>{{ ganancia }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
