{% extends 'index.html' %}

{% block content %}
    <h1>Movimientos de Inventario</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Tipo</th>
                <th>Cantidad</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for movimiento in movimientos %}
                <tr>
                    <td>{{ movimiento.id }}</td>
                    <td>{{ movimiento.producto_nombre }}</td>
                    <td>{{ movimiento.tipo_movimiento }}</td>
                    <td>{{ movimiento.cantidad }}</td>
                    <td>{{ movimiento.fecha }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
